@using WebApp.ViewModels;
@model RegisterViewModel;


@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";

}

<div class="account-container">
	<div class="account-box">
		<div class="text-center mb-3">
			<img src="~/assets/images/NEU_LOGO.png" alt="Logo" style="height:60px; width:auto;">
		</div>
		<form asp-action="Register" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<input asp-for="Name" class="form-control text-start" placeholder="Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input asp-for="Email" class="form-control text-start" placeholder="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input asp-for="Password" class="form-control text-start" placeholder="Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input asp-for="ConfirmPassword" class="form-control text-start" placeholder="Confirm Password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<input type="submit" value="Register" class="btn w-100 p-2 bg-primary fw-bold text-white" />
			<p class="text-center mt-2">
				Already have an account? <a class="text-decoration-none" asp-controller="Account"
					asp-action="Login">Login</a>
			</p>
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
			</div>
		</form>
	</div>
</div>

@* <div
	class="account-container position-relative d-flex flex-column justify-content-center align-items-center min-vh-100 text-white text-center bg-dark overflow-hidden">
	<div class="account-box">
		<div class="text-center mb-3">
			<img src="~/assets/images/NEU_LOGO.png" alt="Logo" style="height:60px; width:auto;">
		</div>
		<div class="alert alert-danger text-center" role="alert" style="display:none;" id="session-timeout-msg">
			Your session has timed out. Please log in again.
		</div>
		<form asp-action="Login" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<input asp-for="Email" class="form-control text-start" placeholder="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input asp-for="Password" class="form-control text-start" placeholder="Password" type="password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<input type="submit" value="Log in" class="btn w-100 p-2 bg-primary fw-bold text-white" />
			<div class="d-flex justify-content-between mt-2">
				<a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">Lost password?</a>
				<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#cookieModal">
					<i class="fa-solid fa-circle-exclamation"></i> Cookies notice
				</a>
			</div>
		</form>
		<div class="text-center pt-3">
			<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
		</div>
	</div>
</div> *@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}