<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home";
}

<div
    class="home-container position-relative d-flex flex-column justify-content-center align-items-center min-vh-100 text-white text-center bg-dark overflow-hidden">
    @* 
    <p>User Authenticated: @User.Identity.IsAuthenticated</p>
    <p>Username: @User.Identity.Name</p> *@

    <div class="overlay position-relative top-0 start-0 w-100 h-100">

        <!-- University Info Section -->
        <div class="container py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-white text-center">
                    <h1 class="display-4 fw-bold my-3">NEW ERA UNIVERSITY CARE</h1>
                    <p class="lead">
                        Experience convenient healthcare management with the New Era University Care app, connecting you
                        with our services anytime, anywhere. Access medical records, book appointments, and consult with
                        healthcare professionals—all in one easy-to-use app.
                    </p>
                </div>
            </div>
        </div>

        @* <!-- Full-Page Carousel -->
        @await Html.PartialAsync("Components/_CarouselPartial") *@
        <!-- Announcements Section -->
        @await Html.PartialAsync("Components/_AnnouncementPartial")

    </div>
</div>