<nav class="navbar navbar-dark bg-primary box-shadow border-bottom border-primary shadow-sm">
    <div class="container-fluid d-flex align-items-center flex-wrap position-relative">
        <!-- Logo and Title -->
        <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/assets/images/NEU_LOGO.png" alt="NEU Logo" style="height:40px; width:auto; margin-left:10px;">
            <div class="fw-semibold ms-3 text-white">
                NEU Care
            </div>
        </a>

        <div class="d-flex gap-2">
            <div class="nav-item ms-auto flex-shrink-0">
                @await Html.PartialAsync("Partials/_LoginPartial")
            </div>
        </div>
    </div>
</nav>

<!-- Bootstrap Modal for Mobile Navigation -->
<div class="modal fade" id="modal-nav" tabindex="-1" aria-labelledby="modal-nav-label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-primary">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-center">
                <div class="modal-title text-white" id="modal-nav-label">
                    <img src="~/assets/images/NEU_LOGO.png" alt="NEU Logo" style="height:40px; width:auto;">
                </div>
                <button type="button" class="btn-close btn-close-white position-absolute end-0 me-3"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>